.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #77778b;
  height: 80px;

  &__title {
    color: #fafafa;
    font-size: 3rem;
    letter-spacing: 0.25rem;
  }
}
