*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @media (max-width: 481px) {
    font-size: 55%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: none;
  cursor: pointer;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: sans-serif;
  background: #c3c3c3;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
